<div class="couche-2 vh-100 d-flex justify-content-center align-items-center">
    <div class="col-1 h-25 d-flex justify-content-center ">
        <button class="btn btn-warning bg-pokemon-prim border border-dark border-2" [disabled]="compteurPokemonMin <= 0" (click)="selectionMoins()"><img src="../../../assets/images/svg/dash-square.svg" alt="Retour" width="30" height="30"></button>
    </div>
    <div class="col-10">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
            <app-pokedex-item *ngFor="let pokemon of selectionPokemon" [pokemonItem]="pokemon"></app-pokedex-item>
        </div>
    </div>
    <div class="col-1 h-25 d-flex justify-content-center">
        <button class="btn btn-warning bg-pokemon-prim border border-dark border-2" [disabled]="compteurPokemonMax >= 152" (click)="selectionPlus()"><img src="../../../assets/images/svg/plus-square.svg" alt="Avancer" width="30" height="30"></button>
    </div>
</div>