<div class="couche-2 container vh-100">
    <div class="row d-flex justify-content-center pt-5">
        <div class="col-4">
            <div class="d-flex justify-content-center align-items-center">
                <p class="font-pokemon titre-pokemon-menu">Pokemon</p>
              </div>
            <div>
                <div class="row p-5">
                    <button class="btn btn-dark fs-3 font-pokemon">Nouvelle partie</button>
                </div>
                <div class="row p-5">
                    <button class="btn btn-dark fs-3 font-pokemon" routerLink="/pokedex">Pokedex</button>
                </div>
                <div class="row p-5">
                    <button class="btn btn-dark fs-3 font-pokemon">Options</button>
                </div>
                <div class="row p-5">
                    <button class="btn btn-dark fs-3 font-pokemon">Classements</button>
                </div>
            </div>
        </div>
    </div>
</div>
