@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);

*{
  overflow-x: hidden;
  overflow-y: hidden;
}

.bg-grass{
  background-color: rgb(56,191,75);
}

.bg-fire{
  background-color: rgb(255,151,65);
}

.bg-water{
  background-color: rgb(51,147,221);
}

.bg-normal{
  background-color: rgb(146,155,163);
}

.bg-bug{
  background-color: rgb(131,195,0);
}

.bg-poison{
  background-color: rgb(182,103,207);
}

.bg-electric{
  background-color: rgb(251,210,0);
}

.bg-ground{
  background-color: rgb(233,115,51);
}

.bg-psychic{
  background-color: rgb(255,102,118);
}

.bg-fighting{
  background-color: rgb(225,44,106);
}

.bg-fairy{
  background-color: rgb(251,138,236);
}

.bg-rock{
  background-color: rgb(201,183,135);
}

.bg-ghost{
  background-color: rgb(76,106,178);
}

.bg-ice{
  background-color: rgb(75,210,193);
}

.bg-dragon{
  background-color: rgb(0,111,201);
}

.bg-fond{
  background-color: rgb(81, 87, 93);
}

.font-pokemon{
  font-family: "Pokemon";
}

.titre-pokemon{
  color: rgb(4, 64, 159);
  -webkit-text-stroke: 8px rgb(255,204,0);
  letter-spacing: 13px;
  font-size: 200px;
}

.titre-pokemon-menu{
  color: rgb(4, 64, 159);
  -webkit-text-stroke: 4px rgb(255,204,0);
  letter-spacing: 7px;
  font-size: 75px;
}

.sous-titre-pokemon{
  letter-spacing: 3px;
  font-size: 25px;
}

*{
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-image: url("./assets/images/jpg/nature_day.jpg");
  background-repeat: no-repeat;
  background-position: center;

}

.lt-spacing-1{
  letter-spacing: 2px;
}

.lt-spacing-2{
  letter-spacing: 4px;
}

.lt-spacing-3{
  letter-spacing: 6px;
}

.lt-spacing-4{
  letter-spacing: 8px;
}

.lt-spacing-5{
  letter-spacing: 10px;
}

.animations-pickachu{
  z-index: -1;
  background-image: url(../src/assets/images/gif/giphy.gif);
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
  height: 200px;
  position: absolute;
  animation-name: move-pikachu;
  animation-duration: 18s;
  animation-iteration-count: infinite;
}

@keyframes move-pikachu {
  0%   { left:-30%; top:80%;}
  100%  { left:130%; top:80%;}
}

.animations-salameche{
  z-index: -1;
  background-image: url(../src/assets/images/gif/sala.gif);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 450px;
  height: 350px;
  animation-duration: 60s;
  animation-iteration-count: infinite;

  animation-name: move-salameche;
}

@keyframes move-salameche {
  0%   { left:1%; top:59%;}
  100%  { left:1%; top:59%;}
}

.animations-dracofeu{
  z-index: -1;
  background-image: url(../src/assets/images/gif/draco_2.gif);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 450px;
  height: 350px;
  animation-duration: 60s;
  animation-iteration-count: infinite;

  animation-name: move-dracofeu;
}

@keyframes move-dracofeu {
  0%    { left:-20%; top:-10%;}
  25%   { top: 0%;}
  50%   { top:-10%;}
  75%   { top: 0%;}
  100%  { left:120%; top:-10%;}
}

.animations-dracofeu-reverse{
  animation-delay: 6s;
  z-index: -1;
  background-image: url(../src/assets/images/gif/draco_3.gif);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 500px;
  height: 350px;
  animation-duration: 30s;
  animation-iteration-count: infinite;

  animation-name: move-dracofeu-reverse;
}

@keyframes move-dracofeu-reverse {
  0%    { left:140%; top:30%;}
  25%   { top: 20%;}
  50%   { top: 30%;}
  75%   { top: 20%;}
  100%  { left:-40%; top:30%;}
}

.animations-team{
  animation-delay: 2s;
  z-index: -1;
  background-image: url(../src/assets/images/gif/animated-pokemon-image-0012.gif);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 450px;
  height: 350px;
  animation-duration: 40s;
  animation-iteration-count: infinite;

  animation-name: move-team;
}

@keyframes move-team {
  0%   { left:120%; top:65%;}
  100%  { left:-30%; top:65%;}
}