@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);

.font-pokemon{
  font-family: "Pokemon";
}

.titre-pokemon{
  color: rgb(4, 64, 159);
  -webkit-text-stroke: 8px rgb(255,204,0);
  letter-spacing: 13px;
  font-size: 200px;
}

.titre-pokemon-menu{
  color: rgb(4, 64, 159);
  -webkit-text-stroke: 4px rgb(255,204,0);
  letter-spacing: 7px;
  font-size: 75px;
}

.sous-titre-pokemon{
  letter-spacing: 3px;
  font-size: 25px;
}

*{
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-image: url("./assets/jpg/nature_day.jpg");
  background-repeat: no-repeat;
  background-position: center;

}

.fs-pokemon{

}